/* Services Page Specific Styles */

.service-icon-box {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.glass-card:hover .service-icon-box {
    transform: translateY(-10px) scale(1.1);
    background-color: var(--accent);
    color: white;
}
